<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="MongoConnectionString" connectionString="mongodb://127.0.0.1:27017" />-->
    <!--<add name="MongoConnectionString" connectionString="mongodb://192.168.99.100:32768" />-->
    <add name="MongoConnectionString" connectionString="mongodb://127.0.0.1:27017" />


  </connectionStrings>
</configuration>